Repository he4rtlabs/he4rtoberfest-2020, changes with the labels that .github/labeler.yml gives for each.
All labels: Challenge 0, Challenge 1, Challenge 2, Challenge 3, Challenge 4, Challenge 5, Challenge 6, Challenge 7, Challenge 8, JS, PHP, Java, C, C++, Python, R, Rust, Ruby, Go, Elixir, Dart, TypeScript, Lua

Desafio 2 completado
  challenges/2-tabuada/rust/orenan/README.md
  challenges/2-tabuada/rust/orenan/tabuada.rs
Labels: Challenge 2, Rust

Finalizando o desafio
  challenges/1-media-alunos/js/RudiJr/challenge-1.js
  challenges/1-media-alunos/js/RudiJr/readme.md
Labels: Challenge 1, JS

finalizando o desafio
  challenges/0-hello-world/js/humrenan/hello-world.js
  challenges/0-hello-world/js/humrenan/read.me
Labels: Challenge 0, JS

corrigindo nome do arquivo
  challenges/2-tabuada/rust/orenan/README.md
Labels: Challenge 2

Finalizando o desafio
  challenges/2-tabuada/js/RudiJr/challenge-2.js
  challenges/2-tabuada/js/RudiJr/readme.md
Labels: Challenge 2, JS

finalizando o desafio
  challenges/1-media-alunos/js/humrenan/index.js
  challenges/1-media-alunos/js/humrenan/read.md
Labels: Challenge 1, JS

Finalizando novamente o Desafio 1
  challenges/1-media-alunos/c/vaipc/desafio-media.c
  challenges/1-media-alunos/c/vaipc/readme.md
Labels: Challenge 1, C

Finalizando o Desafio 2
  challenges/2-tabuada/c/vaipc/readme.md
  challenges/2-tabuada/c/vaipc/tabuada.c
Labels: Challenge 2, C

Finalizando o Desafio
  challenges/2-tabuada/js/RudiJr/challenge-2.md
  challenges/2-tabuada/js/godinhojoao/readme.md
  challenges/2-tabuada/js/godinhojoao/tabuada.js
  challenges/2-tabuada/js/xandowski/index.js
  challenges/2-tabuada/js/xandowski/readme.md
  challenges/2-tabuada/php/zuruckt/challenge.php
  challenges/2-tabuada/php/zuruckt/readme.md
Labels: Challenge 2, JS, PHP

Finalizando o Desafio 3
  challenges/3-area-trapezio/c/vaipc/readme.md
  challenges/3-area-trapezio/c/vaipc/trapezio.c
Labels: Challenge 3, C

Finalizando o desafio
  challenges/1-media-alunos/js/ThesllaDev/README.md
  challenges/1-media-alunos/js/ThesllaDev/media.js
Labels: Challenge 1, JS

Finalizando o desafio 0
  challenges/0-hello-world/dart/Alba-22/README.MD
  challenges/0-hello-world/dart/Alba-22/hey.dart
Labels: Challenge 0, Dart

Finalizando o desafio
  challenges/1-media-alunos/js/ThesllaDev/README.md
  challenges/1-media-alunos/js/ThesllaDev/media.js
Labels: Challenge 1, JS

Finalizado desafio 1
  challenges/1-media-alunos/dart/Alba-22/README.MD
  challenges/1-media-alunos/dart/Alba-22/average.dart
Labels: Challenge 1, Dart

Finalizando o Desafio 8
  challenges/8-fibonacci/c/vaipc/fibonaccii.c
  challenges/8-fibonacci/c/vaipc/readme.md
Labels: Challenge 8, C

Finalizando o desafio
  challenges/0-hello-world/c/thuansilva/helloWorld.c
  challenges/0-hello-world/c/thuansilva/model.md
Labels: Challenge 0, C

[Challenge #8] - Fibonacci
  challenges/8-fibonacci/c/thuansilva/fibonacci.c
  challenges/8-fibonacci/c/thuansilva/model.md
Labels: Challenge 8, C

Update README.MD
  README.MD
Labels: none

rename read.md to readme.md
  challenges/1-media-alunos/js/humrenan/readme.md
Labels: Challenge 1

Finalizando desafio, grazadeus tá funfando
  challenges/5-frequencia-das-letras/python/clerijr/main.py
  challenges/5-frequencia-das-letras/python/clerijr/model.md
Labels: Challenge 5, Python

Atualizando readme.md
  challenges/5-frequencia-das-letras/python/clerijr/readme.md
Labels: Challenge 5

Fibonacci
  challenges/8-fibonacci/c/thuansilva/README.md
  challenges/8-fibonacci/c/thuansilva/fibonacci.c
Labels: Challenge 8, C

Finalizando o desafio
  challenges/5-frequencia-das-letras/php/zuruckt/challenge.php
  challenges/5-frequencia-das-letras/php/zuruckt/readme.md
Labels: Challenge 5, PHP

chore: add .gitignore
  challenges/8-fibonacci/c/mpgxc/.gitignore
Labels: Challenge 8

chore: readme
  challenges/8-fibonacci/c/mpgxc/README.MD
Labels: Challenge 8

feat: Finalizando o desafio
  challenges/8-fibonacci/c/mpgxc/main.c
Labels: Challenge 8, C

feat: add foo to check input types
  challenges/8-fibonacci/c/mpgxc/isvalid.h
Labels: Challenge 8

[Challenge #7] Valida Senha
  challenges/7-valida-senha/c++/feliper2002/README.md
  challenges/7-valida-senha/c++/feliper2002/password.cpp
Labels: Challenge 7

[Challenge #8] Fibonacci Fácil
  challenges/8-fibonacci/cpp/vitogd/README.md
  challenges/8-fibonacci/cpp/vitogd/main.cpp
Labels: Challenge 8, C++

[Challenge #3] Área do Trapézio
  challenges/3-area-trapezio/c++/feliper2002/README.md
  challenges/3-area-trapezio/c++/feliper2002/trapezio.cpp
Labels: Challenge 3

Finalizando o desafio
  challenges/0/c/Hitoshi-3/README.md
  challenges/0/c/Hitoshi-3/hello.c
Labels: C

chore: add .gitignore
  challenges/7-valida-senha/c/mpgxc/.gitignore
Labels: Challenge 7

chore: add readme
  challenges/7-valida-senha/c/mpgxc/README.md
Labels: Challenge 7

feat: Finalizando o desafio
  challenges/7-valida-senha/c/mpgxc/main.c
Labels: Challenge 7, C

chore: add .gitignore
  challenges/7-valida-senha/c/mpgxc/.gitignore
Labels: Challenge 7

chore: add readme
  challenges/7-valida-senha/c/mpgxc/README.md
Labels: Challenge 7

feat: Finalizando o desafio
  challenges/7-valida-senha/c/mpgxc/main.c
Labels: Challenge 7, C

[Challenge 0] Hello World
  challenges/0-hello-world/php/riicksouzaa/hello.php
  challenges/0-hello-world/php/riicksouzaa/readme.md
Labels: Challenge 0, PHP

Finalizando o desafio
  challenges/5-frequencia-das-letras/ruby/yosh1tsune/README.md
  challenges/5-frequencia-das-letras/ruby/yosh1tsune/frequencia_das_letras.rb
Labels: Challenge 5, Ruby

Esse foi mó legalzão de resolver, bem menos linhas que o esperado
  challenges/6-abracadabra/python/clerijr/main.py
  challenges/6-abracadabra/python/clerijr/readme.md
Labels: Challenge 6, Python

.github/labeler.yml:

# Challenge Tags
'Challenge 0': challenges/0-hello-world/**/*
'Challenge 1': challenges/1-media-alunos/**/*
'Challenge 2': challenges/2-tabuada/**/*
'Challenge 3': challenges/3-area-trapezio/**/*
'Challenge 4': challenges/4-cifra-de-cesar/**/*
'Challenge 5': challenges/5-frequencia-das-letras/**/*
'Challenge 6': challenges/6-abracadabra/**/*
'Challenge 7': challenges/7-valida-senha/**/*
'Challenge 8': challenges/8-fibonacci/**/*

# Language Tags
JS: challenges/**/js/**/*.js
PHP: challenges/**/php/**/*.php
Java: challenges/**/java/**/*.java
C: 'challenges/**/c/**/*.c'
C++: 'challenges/**/cpp/**/*.cpp'
Python: 'challenges/**/python/**/*.py'
R: 'challenges/**/r/**/*.r'
Rust: 'challenges/**/rust/**/**/*.rs'
Ruby: 'challenges/**/ruby/**/**/*.rb'
Go: 'challenges/**/go/**/**/*.go'
Elixir: 'challenges/**/elixir/**/*.ex'
Dart: 'challenges/**/dart/**/*.dart'
TypeScript: 'challenges/**/ts/**/*.ts'
Lua: 'challenges/**/lua/**/*.lua'
