Repository he4rtlabs/he4rtoberfest-2020, changes with the labels that .github/labeler.yml gives for each.
All labels: Challenge 0, Challenge 1, Challenge 2, Challenge 3, Challenge 4, Challenge 5, Challenge 6, Challenge 7, Challenge 8, JS, PHP, Java, C, C++, Python, R, Rust, Ruby, Go, Elixir, Dart, TypeScript, Lua

Se deus quiser agora tá certo
  challenges/6-abracadabra/python/clerijr/main.py
  challenges/6-abracadabra/python/clerijr/readme.md
Labels: Challenge 6, Python

Corrigindo pasta
  challenges/7-valida-senha/c/Danteborges/valida-senha.c
Labels: Challenge 7, C

Resolve desafio 6
  challenges/6-abracadabra/js/Mathz78/README.md
  challenges/6-abracadabra/js/Mathz78/script.js
Labels: Challenge 6, JS

Finalizando mais outro exercício
  challenges/7-valida-senha/python/clerijr/main.py
  challenges/7-valida-senha/python/clerijr/model.md
Labels: Challenge 7, Python

Finalizando o desafio
  challenges/3-area-trapezio/java/brandaogabriel/App.java
  challenges/3-area-trapezio/java/brandaogabriel/readme.md
Labels: Challenge 3, Java

Finalizando o desafio
  challenges/6-abracadabra/java/brandaogabriel/App.java
  challenges/6-abracadabra/java/brandaogabriel/readme.md
Labels: Challenge 6, Java

Corrigindo
  challenges/0-hello-world/c/Hitoshi-3/README.md
  challenges/0-hello-world/c/Hitoshi-3/hello.c
Labels: Challenge 0, C

Finalizando o desafio #1
  challenges/1-media-alunos/c/Hitoshi-3/README.md
  challenges/1-media-alunos/c/Hitoshi-3/media.c
Labels: Challenge 1, C

Update README.md
  challenges/1-media-alunos/c/Hitoshi-3/README.md
Labels: Challenge 1

challenge 2 complete
  challenges/2-tabuada/js/anandacba/readme.md
  challenges/2-tabuada/js/anandacba/tabuada.js
Labels: Challenge 2, JS

Rename model.md to readme.md
  challenges/7-valida-senha/python/clerijr/readme.md
Labels: Challenge 7

Finalizando oitavo exercício
  challenges/8-fibonacci/python/clerijr/main.py
  challenges/8-fibonacci/python/clerijr/readme.md
Labels: Challenge 8, Python

Refazendo o desafio #1
  challenges/1-media-alunos/c/Hitoshi-3/README.md
  challenges/1-media-alunos/c/Hitoshi-3/media.c
Labels: Challenge 1, C

Ajustando de int para float
  challenges/3-area-trapezio/c++/feliper2002/trapezio.cpp
Labels: Challenge 3

Alterando o README.md
  challenges/1-media-alunos/c/Hitoshi-3/README.md
Labels: Challenge 1

Finalizando o desafio.
  challenges/3-area-trapezio/php/leobardo/challenge.php
  challenges/3-area-trapezio/php/leobardo/readme.md
Labels: Challenge 3, PHP

Comentários no readme
  challenges/3-area-trapezio/php/leobardo/readme.md
Labels: Challenge 3

Finalizando o desafio
  challenges/2-tabuada/js/xmatheus/README.md
  challenges/2-tabuada/js/xmatheus/index.js
Labels: Challenge 2, JS

[UPDATE] Finalizando o desafio
  challenges/2-tabuada/java/mateussnts/README.md
  challenges/2-tabuada/java/mateussnts/Tabuada.java
Labels: Challenge 2, Java

Finalizando hello world
  challenges/0-hello-world/d/Fabinzne/README.md
  challenges/0-hello-world/d/Fabinzne/helloworld.d
Labels: Challenge 0

Challenge 3º done
  challenges/3-area-trapezio/js/anandacba/areaTrapezio.js
  challenges/3-area-trapezio/js/anandacba/readme.md
Labels: Challenge 3, JS

[Challenge #1] - Média Aluno
  challenges/1-media-alunos/d/Fabinzne/README.md
  challenges/1-media-alunos/d/Fabinzne/media.d
Labels: Challenge 1

[Challenge #1] - Média Aluno
  challenges/1-media-alunos/d/Fabinzne/README.md
Labels: Challenge 1

Trocando valores inteiros para flutuantes
  challenges/1-media-alunos/rust/orenan/media.rs
Labels: Challenge 1, Rust

Finalizando o desafio
  challenges/6-abracadabra/ruby/yosh1tsune/README.md
  challenges/6-abracadabra/ruby/yosh1tsune/abracadabra.rb
Labels: Challenge 6, Ruby

Finalizando o desafio
  challenges/1-media-alunos/js/lucasmarinzeck/mediaAlunos.js
  challenges/1-media-alunos/js/lucasmarinzeck/readme.md
Labels: Challenge 1, JS

Finalizando desafio
  challenges/0-hello-world/python/tbgdmelo/README.md
  challenges/0-hello-world/python/tbgdmelo/helloworld.py
Labels: Challenge 0, Python

Finalizando o desafio 1
  challenges/1-media-alunos/python/tbgdmelo/README.md
  challenges/1-media-alunos/python/tbgdmelo/media.py
Labels: Challenge 1, Python

Finalizando o desafio 2
  challenges/2-tabuada/python/tbgdmelo/README.md
  challenges/2-tabuada/python/tbgdmelo/tabuada.py
Labels: Challenge 2, Python

Fisinish challenge 0
  challenges/0-hello-world/c#/lincolntx/.gitignore
  challenges/0-hello-world/c#/lincolntx/README.md
  challenges/0-hello-world/c#/lincolntx/src/challenge.0/Program.cs
  challenges/0-hello-world/c#/lincolntx/src/challenge.0/challenge.0.csproj
Labels: Challenge 0

Finalizado o desafio
  challenges/0-hello-world/js/fogeid/README.md
  challenges/0-hello-world/js/fogeid/index.js
Labels: Challenge 0, JS

Finalizado o desafio
  challenges/1-media-alunos/js/fogeid/README.md
  challenges/1-media-alunos/js/fogeid/index.js
Labels: Challenge 1, JS

[Challenge #1] Média de Alunos
  challenges/0-hello-world/js/fogeid/README.md
  challenges/0-hello-world/js/fogeid/index.js
Labels: Challenge 0, JS

Finalizado o desafio
  challenges/3-area-trapezio/js/fogeid/README.md
  challenges/3-area-trapezio/js/fogeid/index.js
Labels: Challenge 3, JS

Finalizando o desafio
  challenges/2-tabuada/js/fogeid/README.md
  challenges/2-tabuada/js/fogeid/index.js
Labels: Challenge 2, JS

Finalizando o desafio
  challenges/2-tabuada/js/fogeid/README.md
Labels: Challenge 2

Finalizando o desafio
  challenges/2-tabuada/js/fogeid/index.js
Labels: Challenge 2, JS

Finalizando o desafio
  challenges/4-cifra-de-cesar/python/melissanied/README.md
  challenges/4-cifra-de-cesar/python/melissanied/cifra.py
Labels: Challenge 4, Python

Finalizando desafio.
  challenges/4-cifra-de-cesar/php/leobardo/challenge.php
  challenges/4-cifra-de-cesar/php/leobardo/readme.md
Labels: Challenge 4, PHP

Finalizei, eu acho.
  challenges/4-cifra-de-cesar/php/leobardo/challenge.php
  challenges/4-cifra-de-cesar/php/leobardo/readme.md
Labels: Challenge 4, PHP

.github/labeler.yml:

# Challenge Tags
'Challenge 0': challenges/0-hello-world/**/*
'Challenge 1': challenges/1-media-alunos/**/*
'Challenge 2': challenges/2-tabuada/**/*
'Challenge 3': challenges/3-area-trapezio/**/*
'Challenge 4': challenges/4-cifra-de-cesar/**/*
'Challenge 5': challenges/5-frequencia-das-letras/**/*
'Challenge 6': challenges/6-abracadabra/**/*
'Challenge 7': challenges/7-valida-senha/**/*
'Challenge 8': challenges/8-fibonacci/**/*

# Language Tags
JS: challenges/**/js/**/*.js
PHP: challenges/**/php/**/*.php
Java: challenges/**/java/**/*.java
C: 'challenges/**/c/**/*.c'
C++: 'challenges/**/cpp/**/*.cpp'
Python: 'challenges/**/python/**/*.py'
R: 'challenges/**/r/**/*.r'
Rust: 'challenges/**/rust/**/**/*.rs'
Ruby: 'challenges/**/ruby/**/**/*.rb'
Go: 'challenges/**/go/**/**/*.go'
Elixir: 'challenges/**/elixir/**/*.ex'
Dart: 'challenges/**/dart/**/*.dart'
TypeScript: 'challenges/**/ts/**/*.ts'
Lua: 'challenges/**/lua/**/*.lua'
