Repository he4rtlabs/he4rtoberfest-2020, changes with the labels that .github/labeler.yml gives for each.
All labels: Challenge 0, Challenge 1, Challenge 2, Challenge 3, Challenge 4, Challenge 5, Challenge 6, Challenge 7, Challenge 8, JS, PHP, Java, C, C++, Python, R, Rust, Ruby, Go, Elixir, Dart, TypeScript, Lua

.github/labeler.yml:

# Challenge Tags
'Challenge 0': challenges/0-hello-world/**/*
'Challenge 1': challenges/1-media-alunos/**/*
'Challenge 2': challenges/2-tabuada/**/*
'Challenge 3': challenges/3-area-trapezio/**/*
'Challenge 4': challenges/4-cifra-de-cesar/**/*
'Challenge 5': challenges/5-frequencia-das-letras/**/*
'Challenge 6': challenges/6-abracadabra/**/*
'Challenge 7': challenges/7-valida-senha/**/*
'Challenge 8': challenges/8-fibonacci/**/*

# Language Tags
JS: challenges/**/js/**/*.js
PHP: challenges/**/php/**/*.php
Java: challenges/**/java/**/*.java
C: 'challenges/**/c/**/*.c'
C++: 'challenges/**/cpp/**/*.cpp'
Python: 'challenges/**/python/**/*.py'
R: 'challenges/**/r/**/*.r'
Rust: 'challenges/**/rust/**/**/*.rs'
Ruby: 'challenges/**/ruby/**/**/*.rb'
Go: 'challenges/**/go/**/**/*.go'
Elixir: 'challenges/**/elixir/**/*.ex'
Dart: 'challenges/**/dart/**/*.dart'
TypeScript: 'challenges/**/ts/**/*.ts'
Lua: 'challenges/**/lua/**/*.lua'

Finalizando o desafio
  challenges/0-hello-world/sh/rafifos/README.md
  challenges/0-hello-world/sh/rafifos/hello_world.sh
Labels: Challenge 0

Finalizando o desafio
  challenges/1-media-alunos/sh/rafifos/README.md
  challenges/1-media-alunos/sh/rafifos/media-alunos.sh
Labels: Challenge 1

Finalizando o desafio
  challenges/2-tabuada/sh/rafifos/README.md
  challenges/2-tabuada/sh/rafifos/tabuada.sh
Labels: Challenge 2

Finalizando o desafio
  challenges/3-area-trapezio/sh/rafifos/README.md
  challenges/3-area-trapezio/sh/rafifos/area-trapezio.sh
Labels: Challenge 3

Finalizando o desafio
  challenges/4-cifra-de-cesar/sh/rafifos/README.md
  challenges/4-cifra-de-cesar/sh/rafifos/cifra-de-cesar.sh
Labels: Challenge 4

add args to readme
  challenges/3-area-trapezio/sh/rafifos/README.md
Labels: Challenge 3

add args to readme
  challenges/2-tabuada/sh/rafifos/README.md
Labels: Challenge 2

add args to readme
  challenges/1-media-alunos/sh/rafifos/README.md
Labels: Challenge 1

update readme
  challenges/4-cifra-de-cesar/sh/rafifos/README.md
Labels: Challenge 4

finalizando desafio
  challenges/1-media-alunos/python/tsleolima/challenge.py
  challenges/1-media-alunos/python/tsleolima/readme.md
Labels: Challenge 1, Python

Adições ao desafio
  challenges/1-media-alunos/dart/Alba-22/README.MD
  challenges/1-media-alunos/dart/Alba-22/average.dart
Labels: Challenge 1, Dart

Melhorias no codigo
  challenges/4-cifra-de-cesar/php/leobardo/challenge.php
  challenges/4-cifra-de-cesar/php/leobardo/readme.md
Labels: Challenge 4, PHP

[Challenge #2] Tabuada
  challenges/2-tabuada/dart/Alba-22/README.MD
  challenges/2-tabuada/dart/Alba-22/tabuada.dart
Labels: Challenge 2, Dart

[Challenge #3] Área de um Trapézio
  challenges/3-area-trapezio/dart/Alba-22/README.MD
  challenges/3-area-trapezio/dart/Alba-22/trapeze.dart
Labels: Challenge 3, Dart

[Challenge #4] Cifra de César
  challenges/4-cifra-de-cesar/dart/Alba-22/README.MD
  challenges/4-cifra-de-cesar/dart/Alba-22/cypher.dart
Labels: Challenge 4, Dart

Finalizando o desafio
  challenges/5-frequencia-das-letras/python/melissanied/frequencia.py
  challenges/5-frequencia-das-letras/python/melissanied/readme.md
Labels: Challenge 5, Python

Finalizando o desafio
  challenges/7-valida-senha/ruby/yosh1tsune/README.md
  challenges/7-valida-senha/ruby/yosh1tsune/valida_senha.rb
Labels: Challenge 7, Ruby

Finalizando Desafio
  challenges/1-media-alunos/java/MaduFernandes/MediaAluno.java
  challenges/1-media-alunos/java/MaduFernandes/README.md
Labels: Challenge 1, Java

finalizando desafio 0
  challenges/0-hello-world/c++/08pixels/hello
  challenges/0-hello-world/c++/08pixels/hello.cpp
  challenges/0-hello-world/c++/08pixels/readme.md
Labels: Challenge 0

Finalizando o desafio 4
  challenges/4-cifra-de-cesar/go/08pixels/cifra-de-cesar.go
  challenges/4-cifra-de-cesar/go/08pixels/readme.md
Labels: Challenge 4, Go

rust helloworld
  challenges/0-hello-world/rust/lucasew/.gitignore
  challenges/0-hello-world/rust/lucasew/Cargo.lock
  challenges/0-hello-world/rust/lucasew/Cargo.toml
  challenges/0-hello-world/rust/lucasew/README.MD
  challenges/0-hello-world/rust/lucasew/src/main.rs
Labels: Challenge 0, Rust

desafio 7
  challenges/7-valida-senha/rust/lucasew/.gitignore
  challenges/7-valida-senha/rust/lucasew/Cargo.lock
  challenges/7-valida-senha/rust/lucasew/Cargo.toml
  challenges/7-valida-senha/rust/lucasew/readme.md
  challenges/7-valida-senha/rust/lucasew/src/main.rs
Labels: Challenge 7, Rust

Finalizando o desafio
  challenges/0-hello-world/python/gabialeixo/README.md
  challenges/0-hello-world/python/gabialeixo/helloWorld.py
Labels: Challenge 0, Python

Finalizando o desafio
  challenges/1-media-alunos/python/gabialeixo/README.md
  challenges/1-media-alunos/python/gabialeixo/media.py
Labels: Challenge 1, Python

Finalizando o desafio 0
  challenges/0-hello-world/js/pBird/README.md
  challenges/0-hello-world/js/pBird/helloWorld.js
Labels: Challenge 0, JS

Finalizando o desafio 0.
  challenges/0-hello-world/js/pBird/README.md
Labels: Challenge 0

Finalizando o desafio 1
  challenges/1-media-alunos/c/pBird/README.md
  challenges/1-media-alunos/c/pBird/mediaAlunos.c
Labels: Challenge 1, C

add error message
  challenges/8-fibonacci/python/arthur-mts/main.py
Labels: Challenge 8, Python

Finalizando o desafio
  challenges/0-hello-world/js/helderavila/README.md
  challenges/0-hello-world/js/helderavila/index.js
Labels: Challenge 0, JS

Finalizando o desafio
  challenges/0-hello-world/js/Guilheeeerme/index.js
  challenges/0-hello-world/js/Guilheeeerme/readme.md
Labels: Challenge 0, JS

Finalizando o desafio
  challenges/1-media-alunos/js/Guilheeeerme/index.js
  challenges/1-media-alunos/js/Guilheeeerme/readme.md
Labels: Challenge 1, JS

Finalizando o desafio
  challenges/2-tabuada/js/Guilheeeerme/index.js
  challenges/2-tabuada/js/Guilheeeerme/readme.md
Labels: Challenge 2, JS

Finalizando o desafio
  challenges/3-area-trapezio/js/Guilheeeerme/index.js
  challenges/3-area-trapezio/js/Guilheeeerme/readme.md
Labels: Challenge 3, JS

add: Hello World
  challenges/0-hello-world/go/higordiego/main.go
  challenges/0-hello-world/go/higordiego/readme.md
Labels: Challenge 0, Go

add: Hello World
  challenges/0-hello-world/go/higordiego/readme.md
Labels: Challenge 0

add: calculando média do aluno
  challenges/1-media-alunos/go/higordiego/main.go
  challenges/1-media-alunos/go/higordiego/readme.md
Labels: Challenge 1, Go

add: tabuada com todos os numeros
  challenges/2-tabuada/go/higordiego/main.go
  challenges/2-tabuada/go/higordiego/readme.md
Labels: Challenge 2, Go

add: área do trapézio
  challenges/3-area-trapezio/go/higordiego/main.go
  challenges/3-area-trapezio/go/higordiego/readme.md
Labels: Challenge 3, Go

add: Fibonacci Fácil
  challenges/8-fibonacci/go/higordiego/main.go
  challenges/8-fibonacci/go/higordiego/readme.md
Labels: Challenge 8, Go

add: Validador de Senhas
  challenges/7-valida-senha/go/higordiego/main.go
  challenges/7-valida-senha/go/higordiego/readme.md
Labels: Challenge 7, Go
