Repository he4rtlabs/he4rtoberfest-2020, pull requests merged in 2020-10, with the labels that each got.

#15 [Challenge #0] Hello World
  challenges/0-hello-world/php/danesi/hello-world.php
  challenges/0-hello-world/php/danesi/readme.md
Labels: Challenge 0, PHP

#19 [Challenge #0] Hello World
  challenges/0-hello-world/php/sorenhe4rt/hello.php
  challenges/0-hello-world/php/sorenhe4rt/model.md
Labels: Challenge 0, PHP

#11 [Challenge #0] Hello World
  challenges/0-hello-world/PHP/RudiJr/He4rt-Hello.php
  challenges/0-hello-world/PHP/RudiJr/readme.md
Labels: Challenge 0, PHP

#6 [Challenge #0] Hello World
  challenges/0-hello-world/r/natandias/README.md
  challenges/0-hello-world/r/natandias/hello-world.r
Labels: Challenge 0, R

#16 [Challenge #0] Hello World
  challenges/0-hello-world/python/evertoont/challenge.py
  challenges/0-hello-world/python/evertoont/readme.md
Labels: Challenge 0, Python

#13 [Challenge #0] Hello World
  challenges/0-hello-world/php/danielhe4rt/challenge.php
  challenges/0-hello-world/php/danielhe4rt/readme.md
Labels: Challenge 0, PHP

#5 [Challenge #0] Hello World
  challenges/0-hello-world/python/santiariza15/Readme.md
  challenges/0-hello-world/python/santiariza15/santiariza15.py
Labels: Challenge 0, Python

#17 [Challenge #0] Hello World
  challenges/0-hello-world/go/jonatasosilva/challenge.go
  challenges/0-hello-world/go/jonatasosilva/readme.md
Labels: Challenge 0, Go

#9 [Challenge #0] Hello World
  challenges/0-hello-world/js/xandowski/hello-world.js
  challenges/0-hello-world/js/xandowski/readme.md
Labels: Challenge 0, JS

#18 [Challenge #0] Hello World
  challenges/0-hello-world/js/ggonpereira/challenge-00.js
  challenges/0-hello-world/js/ggonpereira/readme.md
Labels: Challenge 0, JS

#22 [Challenge #0] Hello World
  challenges/0/js/godinhojoao/hello-world.js
  challenges/0/js/godinhojoao/readme.md
Labels: Challenge 0, JS

#26 [Challenge #0] Hello World
  challenges/0-hello-world/php/davidspader/challenge.php
  challenges/0-hello-world/php/davidspader/model.md
Labels: Challenge 0, PHP

#46 [Challenge #0] Hello World
  challenges/0-hello-world/java/gabrielvieira18/App.java
  challenges/0-hello-world/java/gabrielvieira18/readme.md
Labels: Challenge 0, Java

#32 [Challenge #0] Hello World
  challenges/0-hello-world/rust/jvictorv/.gitignore
  challenges/0-hello-world/rust/jvictorv/Cargo.lock
  challenges/0-hello-world/rust/jvictorv/Cargo.toml
  challenges/0-hello-world/rust/jvictorv/Readme.md
  challenges/0-hello-world/rust/jvictorv/src/main.rs
Labels: Challenge 0, Rust

#24 [Challenge #0] Hello World
  challenges/0-hello-world/php/zuruckt/challenge.php
  challenges/0-hello-world/php/zuruckt/readme.md
Labels: Challenge 0, PHP

#30 [Challenge #0] Hello World
  challenges/0-hello-world/ruby/Nadachi/README.md
  challenges/0-hello-world/ruby/Nadachi/hello.rb
Labels: Challenge 0, Ruby

#50 [Challenge #2] Tabuada
  challenges/2-tabuada/js/xandowski/index.js
  challenges/2-tabuada/js/xandowski/readme.md
Labels: Challenge 2, JS, hacktoberfest-accepted

#31 [Challenge #1] Média dos alunos
  challenges/1-media-alunos/php/danesi/challenge.php
  challenges/1-media-alunos/php/danesi/readme.md
Labels: Challenge 1, PHP

#14 [Challenge #1] Média dos Alunos
  challenges/1-media-alunos/js/xandowski/index.js
  challenges/1-media-alunos/js/xandowski/readme.md
Labels: Challenge 1, JS, hacktoberfest-accepted

#40 [Challenge #3] Área Trapézio
  challenges/3-area-trapezio/js/godinhojoao/area-trapezio.js
  challenges/3-area-trapezio/js/godinhojoao/readme.md
Labels: Challenge 3, JS, hacktoberfest-accepted

#47 [Challenge #1] Média dos Alunos
  challenges/1-media-alunos/go/jonatasosilva/challenge.go
  challenges/1-media-alunos/go/jonatasosilva/readme.md
Labels: Challenge 1, Go, hacktoberfest-accepted

#59 [Challenge #0] Hello World
  challenges/0-hello-world/js/jpbrab0/helloworld.js
  challenges/0-hello-world/js/jpbrab0/readme.md
Labels: Challenge 0, JS

#37 [Challenge #2] Tabuada
  challenges/2-tabuada/js/godinhojoao/readme.md
  challenges/2-tabuada/js/godinhojoao/tabuada.js
Labels: Challenge 2, JS, hacktoberfest-accepted

#68 [Challange 0] - Hello World
  challenges/0-hello-world/ruby/kimpastro/README.md
  challenges/0-hello-world/ruby/kimpastro/challange.rb
Labels: Challenge 0, Ruby

#39 [Challenge #1] Média dos Alunos
  challenges/1-media-alunos/php/zuruckt/challenge.php
  challenges/1-media-alunos/php/zuruckt/readme.md
Labels: Challenge 1, PHP

#43 [Challenge #1] Média dos Alunos
  challenges/1-media-alunos/c/natandias/README.md
  challenges/1-media-alunos/c/natandias/media-alunos.c
Labels: C, Challenge 1

#56 [Challenge #1] Média dos alunos
  challenges/1-media-alunos/js/guivictorr/index.js
  challenges/1-media-alunos/js/guivictorr/readme.md
Labels: Challenge 1, JS, hacktoberfest-accepted

#49 [Challenge #0] Hello World
  challenges/0-hello-world/c#/logikoz/.gitignore
  challenges/0-hello-world/c#/logikoz/Readme.md
  challenges/0-hello-world/c#/logikoz/src/HelloWorld.cs
  challenges/0-hello-world/c#/logikoz/src/HelloWorld.csproj
Labels: C#, Challenge 0

#55 [Challenge #0] Hello World.
  challenges/0-hello-world/elixir/cristuker/helloWorld.ex
  challenges/0-hello-world/elixir/cristuker/readme.md
Labels: Challenge 0, Elixir

#82 [Challenge #0] Hello World
  challenges/0-hello-world/PHP/leobardo/challenge.php
  challenges/0-hello-world/PHP/leobardo/readme.md
Labels: Challenge 0, PHP

#95 [Challenge #0] Hello World
  challenges/0-hello-world/python/guilhermebleidao/README.md
  challenges/0-hello-world/python/guilhermebleidao/hello.py
Labels: Challenge 0, Python

#72 [Challenge #0] Hello World
  challenges/0-hello-world/js/caiomartins1/hello-world.js
  challenges/0-hello-world/js/caiomartins1/readme.md
Labels: Challenge 0, JS

#53 [Challenge #0] Hello World
  challenges/0-hello-world/js/guivictorr/challenge.js
  challenges/0-hello-world/js/guivictorr/readme.md
Labels: Challenge 0, JS

#104 [Challenge #2] Tabuada
  challenges/2-tabuada/php/zuruckt/challenge.php
  challenges/2-tabuada/php/zuruckt/readme.md
Labels: Challenge 2, PHP, hacktoberfest-accepted

#66 [Challenge #0] Hello World
  challenges/0-hello-world/lua/luisbrandino/README.md
  challenges/0-hello-world/lua/luisbrandino/helloworld.lua
Labels: Challenge 0, Lua

#77 [Challenge #0] Hello World
  challenges/0-hello-world/js/afpp3/hello-world.js
  challenges/0-hello-world/js/afpp3/readme.md
Labels: Challenge 0, JS

#80 [Challenge #0] Hello World
  challenges/0-hello-world/js/mateusmlo/hello-world.js
  challenges/0-hello-world/js/mateusmlo/readme.md
Labels: Challenge 0, JS

#89 [Challenge #0] Hello World
  challenges/0-hello-world/dart/README.MD
  challenges/0-hello-world/dart/hello.dart
Labels: Challenge 0, Dart

#78 [Challenge #1] Media de alunos
  challenges/1-media-alunos/js/caiomartins1/media.js
  challenges/1-media-alunos/js/caiomartins1/readme.md
Labels: Challenge 1, JS, hacktoberfest-accepted

#121 [Challenge #2] Tabuada
  challenges/2-tabuada/js/guivictorr/index.js
  challenges/2-tabuada/js/guivictorr/readme.md
Labels: Challenge 2, JS, hacktoberfest-accepted

#83 [Challenge #0] Hello World
  challenges/0-hello-world/c/paclucas/README.MD
  challenges/0-hello-world/c/paclucas/helloworld.c
Labels: C, Challenge 0

#133 [Challenge #0] Hello World
  challenges/0-hello-world/php/RudiJr/He4rt-Hello.php
  challenges/0-hello-world/php/RudiJr/Hello.php
  challenges/0-hello-world/php/RudiJr/readme.md
Labels: Challenge 0, PHP

#108 [Challenge #0] Hello World
  challenges/0-hello-world/js/naygo/helloWorld.js
  challenges/0-hello-world/js/naygo/readme.md
Labels: Challenge 0, JS

#61 [Challenge #0] Hello World
  challenges/0-hello-world/js/akiratorres/hello.js
  challenges/0-hello-world/js/akiratorres/readme.md
Labels: Challenge 0, JS

#81 [Challenge #2] Tabuada
  challenges/2-tabuada/js/caiomartins1/readme.md
  challenges/2-tabuada/js/caiomartins1/tabuada.js
Labels: Challenge 2, JS

#126 [Challenge #3] Area Trapezio
  challenges/3-area-trapezio/python/evertoont/challenge.py
  challenges/3-area-trapezio/python/evertoont/readme.md
Labels: Challenge 3, Python

#112 [Challenge #0] Hello World
  challenges/0-hello-world/js/guilhermesouza/hello.js
  challenges/0-hello-world/js/guilhermesouza/readme.md
Labels: Challenge 0, JS

#128 [Challenge #0] Hello World
  challenges/0-hello-world/js/guiananias/README.md
  challenges/0-hello-world/js/guiananias/index.js
Labels: Challenge 0, JS

#145 [Challenge #0] Hello World
  challenges/0-hello-world/js/Mathz78/README.md
  challenges/0-hello-world/js/Mathz78/helloworld.js
Labels: Challenge 0, JS

#94 [Challenge #2] Tabuada
  challenges/2-tabuada/dart/sidibecker/README.md
  challenges/2-tabuada/dart/sidibecker/main.dart
Labels: Challenge 2, Dart, hacktoberfest-accepted

#137 [Challenge #0] Hello World
  challenges/0-hello-world/js/dcerbolinha/hello-world.js
  challenges/0-hello-world/js/dcerbolinha/readme.md
Labels: Challenge 0, JS

#142 [Challenge #2] Tabuada
  challenges/2-tabuada/c/paclucas/README.MD
  challenges/2-tabuada/c/paclucas/tabuada.c
Labels: C, Challenge 2, hacktoberfest-accepted

#147 [Challenge #0] Hello World
  challenges/0-hello-world/js/celsonf/helloWorld.js
  challenges/0-hello-world/js/celsonf/readme.md
Labels: Challenge 0, JS

#138 [Challenge #0] Hello World
  challenges/0-hello-world/c/spacexjedi/README.MD
  challenges/0-hello-world/c/spacexjedi/hello-world.c
Labels: C, Challenge 0

#123 [Challenge #0] Hello World
  challenges/0-hello-world/js/NicolasPereiraDev/app.js
  challenges/0-hello-world/js/NicolasPereiraDev/package.json
  challenges/0-hello-world/js/NicolasPereiraDev/readme.md
Labels: Challenge 0, JS

#154 [Challenge #3] Área do trapézio
  challenges/3-area-trapezio/birl/paclucas/model.md
  challenges/3-area-trapezio/birl/paclucas/trapezio.birl
Labels: Challenge 3, birl, hacktoberfest-accepted

#100 [Challenge #0] Hello World
  challenges/0-hello-world/python/brenu/README.md
  challenges/0-hello-world/python/brenu/main.py
Labels: Challenge 0, Python

#153 [Challenge #3] Área do trapézio
  challenges/3-area-trapezio/c/paclucas/README.MD
  challenges/3-area-trapezio/c/paclucas/trapezio.c
Labels: C, Challenge 3

#149 [Challenge #0] Hello World
  challenges/0-hello-world/python/moisesabraao/ReadMe.md
  challenges/0-hello-world/python/moisesabraao/app.py
Labels: Challenge 0, Python

#117 [Challenge #6] Abracadabra
  challenges/6-abracadabra/python/evertoont/challenge.py
  challenges/6-abracadabra/python/evertoont/readme.md
Labels: Challenge 6, Python

#69 [Challenge #0] Hello World.
  challenges/0/java/godsensehl/HelloWorld.java
  challenges/0/java/godsensehl/readme.md
Labels: Challenge 0, Java

#103 [Challenge #0] Hello World
  challenges/0-hello-world/c/vaipc/challenge.c
  challenges/0-hello-world/c/vaipc/readme.md
Labels: C, Challenge 0

#91 [Challenge #1] Média de Alunos
  challenges/1-media-alunos/dart/sidibecker/README.md
  challenges/1-media-alunos/dart/sidibecker/main.dart
Labels: Challenge 1, Dart

#162 [Challenge #0] Hello World
  challenges/0-hello-world/js/dscamargo/README.md
  challenges/0-hello-world/js/dscamargo/index.js
Labels: Challenge 0, JS

#165 [Challenge #0] Hello World
  challenges/0-hello-world/js/immurderer/helloWorld.js
  challenges/0-hello-world/js/immurderer/readme.md
Labels: Challenge 0, JS

#132 [Challenge #3] Área do Trapézio
  challenges/3-area-trapezio/js/guiananias/README.md
  challenges/3-area-trapezio/js/guiananias/index.js
Labels: Challenge 3, JS, hacktoberfest-accepted

#157 [Challenge #1] Média dos alunos
  challenges/1-media-alunos/php/davidspader/challenge.php
  challenges/1-media-alunos/php/davidspader/model.md
Labels: Challenge 1, PHP, hacktoberfest-accepted

#84 [Challenge #1] Media de alunos
  challenges/1-media-alunos/c/paclucas/README.MD
  challenges/1-media-alunos/c/paclucas/mediaAlunos.c
Labels: C, Challenge 1, hacktoberfest-accepted

#110 [Challenge #3] Área de um trapézio
  challenges/3-area-trapezio/php/zuruckt/challenge.php
  challenges/3-area-trapezio/php/zuruckt/readme.md
Labels: Challenge 3, PHP, hacktoberfest-accepted

#73 [Challenge #1] Media de alunos
  challenges/1-media-alunos/elixir/cristuker/media.ex
  challenges/1-media-alunos/elixir/cristuker/readme.md
Labels: Challenge 1, Elixir

#164 [Challenge #0] Hello World
  challenges/0-hello-world/c/JuanPabllo/README.MD
  challenges/0-hello-world/c/JuanPabllo/helloWorld.c
Labels: C, Challenge 0

#74 [Challenge #2] - Tabuada
  challenges/2-tabuada/php/jcesar0/README.MD
  challenges/2-tabuada/php/jcesar0/tabuada.php
Labels: Challenge 2, PHP, hacktoberfest-accepted

#41 [Challenge #0] Hello World
  challenges/0-hello-world/python/jvhk/hello.py
  challenges/0-hello-world/python/jvhk/readme.md
Labels: Challenge 0, Python, Requested

#44 [Challenge #1] Média Alunos
  challenges/1-media-alunos/python/jvhk/media.py
  challenges/1-media-alunos/python/jvhk/readme.md
Labels: Challenge 1, Python

#96 [Challenge #3] Área de um Trapézio
  challenges/3-area-trapezio/dart/sidibecker/README.md
  challenges/3-area-trapezio/dart/sidibecker/main.dart
Labels: Challenge 3, Dart, hacktoberfest-accepted

#173 [Challenge #0] Hello World
  challenges/0-hello-world/python/Apenas-Kev/Aló-Mundo.py
  challenges/0-hello-world/python/Apenas-Kev/README.MD
Labels: Challenge 0, Python

#130 [Challenge #1] Média de Alunos
  challenges/1-media-alunos/js/guiananias/README.md
  challenges/1-media-alunos/js/guiananias/index.js
Labels: Challenge 1, JS, hacktoberfest-accepted

#131 [Challenge #2] Tabuada
  challenges/2-tabuada/js/guiananias/README.md
  challenges/2-tabuada/js/guiananias/index.js
Labels: Challenge 2, JS

#169 [Challenge #1] Média dos alunos
  challenges/1-media-alunos/c/brenu/README.md
  challenges/1-media-alunos/c/brenu/main.c
Labels: C, Challenge 1, hacktoberfest-accepted

#151 [Challenge #3] Área do trapézio
  challenges/3-area-trapezio/js/guivictorr/index.js
  challenges/3-area-trapezio/js/guivictorr/readme.md
Labels: Challenge 3, JS

#176 [Challenge #1] Média de Alunos
  challenges/1-media-alunos/js/immurderer/mediaAlunos.js
  challenges/1-media-alunos/js/immurderer/readme.md
Labels: Challenge 1, JS

#113 [Challenge #0] Hello World
  challenges/0-hello-world/java/disousadev/App.java
  challenges/0-hello-world/java/disousadev/readme.md
Labels: Challenge 0, Java, hacktoberfest-accepted

#171 [Challenge #0] Hello World
  challenges/0-hello-world/js/HugoMarceloDev/README.md
  challenges/0-hello-world/js/HugoMarceloDev/hello-world.js
Labels: Challenge 0, JS

#178 [Challenge #0] Hello World
  challenges/0-hello-world/gabigolang/poorlydefinedbehaviour/README.md
  challenges/0-hello-world/gabigolang/poorlydefinedbehaviour/challenge.gabigolang
Labels: Challenge 0, Gabigolang

#184 [Challenge #1] Media Alunos
  challenges/1-media-alunos/gabigolang/poorlydefinedbehaviour/README.md
  challenges/1-media-alunos/gabigolang/poorlydefinedbehaviour/challenge.gabigolang
Labels: Challenge 1, Gabigolang, hacktoberfest-accepted

#155 [Challenge #1] Média dos alunos
  challenges/1-media-alunos/js/Mathz78/README.md
  challenges/1-media-alunos/js/Mathz78/script.js
Labels: Challenge 1, JS, hacktoberfest-accepted

#122 [Challenge #0] HelloWorld
  challenges/0-hello-world/java/rafaelmendes1/HelloWorld.java
  challenges/0-hello-world/java/rafaelmendes1/readme.md
Labels: Challenge 0, Java, hacktoberfest-accepted

#188 [Challenge #2] Tabuada
  challenges/2-tabuada/js/immurderer/readme.md
  challenges/2-tabuada/js/immurderer/tabuada.js
Labels: Challenge 2, JS, hacktoberfest-accepted

#143 [Challenge #2] Tabuada
  challenges/2-tabuada/php/davidspader/challenge.php
  challenges/2-tabuada/php/davidspader/model.md
Labels: Challenge 2, PHP, hacktoberfest-accepted

#190 [Challenge #2] Tabuada
  challenges/2-tabuada/gabigolang/poorlydefinedbehaviour/README.md
  challenges/2-tabuada/gabigolang/poorlydefinedbehaviour/challenge.gabigolang
Labels: Challenge 2, Gabigolang

#166 [Challenge #2] Tabuada
  challenges/2-tabuada/php/leobardo/challenge.php
  challenges/2-tabuada/php/leobardo/readme.md
  challenges/2-tabuada/readme.md
Labels: Challenge 2, PHP, hacktoberfest-accepted

#192 [Challenge #0] HelloWorld
  challenges/0-hello-world/js/willfelisberto/index.js
  challenges/0-hello-world/js/willfelisberto/readme.md
Labels: Challenge 0, JS

#116 [Challenge #4] - Cifra de César
  challenges/4-cifra-de-cesar/dart/sidibecker/README.md
  challenges/4-cifra-de-cesar/dart/sidibecker/main.dart
Labels: Challenge 4, Dart, hacktoberfest-accepted

#191 [Challenge #1] Média dos alunos
  challenges/1-media-alunos/js/dscamargo/README.md
  challenges/1-media-alunos/js/dscamargo/index.js
Labels: Challenge 1, JS, hacktoberfest-accepted

#195 [Challenge #0] Hello World
  challenges/0-hello-world/python/wesleyrcb/README.md
  challenges/0-hello-world/python/wesleyrcb/challenge.py
Labels: Challenge 0, Python

#185 [Challenge #1] Média de Alunos
  challenges/1-media-alunos/js/HugoMarceloDev/README.md
  challenges/1-media-alunos/js/HugoMarceloDev/index.js
Labels: Challenge 1, JS, hacktoberfest-accepted

#60 [Challenge #0] Hello World
  challenges/0-hello-world/r/SaLandin/README.md
  challenges/0-hello-world/r/SaLandin/hello.r
Labels: Challenge 0, R, hacktoberfest-accepted

#172 [Challenge #3] Área de um trapézio
  challenges/3-area-trapezio/js/caiomartins1/area-trapezio.js
  challenges/3-area-trapezio/js/caiomartins1/readme.md
Labels: Challenge 3, JS, hacktoberfest-accepted

#199 [Challenge #2] Tabuada
  challenges/2-tabuada/js/HugoMarceloDev/README.md
  challenges/2-tabuada/js/HugoMarceloDev/index.js
Labels: Challenge 2, JS, hacktoberfest-accepted

#189 [Challenge #0] HelloWorld
  challenges/0-hello-world/python/whzd/helloworld.py
  challenges/0-hello-world/python/whzd/model.md
Labels: Challenge 0, Python

#198 [Challenge #3] Área do Trapézio
  challenges/3-area-trapezio/js/immurderer/areaTrapezio.js
  challenges/3-area-trapezio/js/immurderer/readme.md
Labels: Challenge 3, JS, hacktoberfest-accepted

#54 [Challenge #1] Média dos Alunos
  challenges/1-media-alunos/js/RafaelaMicaela/media.js
  challenges/1-media-alunos/js/RafaelaMicaela/readme.md
Labels: Challenge 1, JS, hacktoberfest-accepted

#196 [Challenge #3] Area Trapézio
  challenges/3-area-trapezio/gabigolang/poorlydefinedbehaviour/README.md
  challenges/3-area-trapezio/gabigolang/poorlydefinedbehaviour/challenge.gabigolang
Labels: Challenge 3, Gabigolang, hacktoberfest-accepted

#200 [Challenge #2] Tabuada
  challenges/2-tabuada/js/dscamargo/README.md
  challenges/2-tabuada/js/dscamargo/index.js
Labels: Challenge 2, JS, hacktoberfest-accepted

#206 [Challenge #3] Área de um trapézio
  challenges/3-area-trapezio/js/HugoMarceloDev/README.md
  challenges/3-area-trapezio/js/HugoMarceloDev/index.js
Labels: Challenge 3, JS, hacktoberfest-accepted

#179 [Challenge #3] Área do Trapézio
  challenges/3-area-trapezio/php/davidspader/challenge.php
  challenges/3-area-trapezio/php/davidspader/model.md
Labels: Challenge 3, PHP, hacktoberfest-accepted

#20 [Challenge #3] Area Trapezio
  challenges/3-area-trapezio/python/santiariza15/Readme.md
  challenges/3-area-trapezio/python/santiariza15/santiariza15.py
Labels: Challenge 3, Python, hacktoberfest-accepted

#205 [Challenge #3] Área de um trapézio
  challenges/3-area-trapezio/js/naygo/areaTrapezio.js
  challenges/3-area-trapezio/js/naygo/readme.md
Labels: Challenge 3, JS, hacktoberfest-accepted

#70 [Challenges #1] Média de alunos
  challenges/1-media-alunos/php/jcesar0/README.MD
  challenges/1-media-alunos/php/jcesar0/media-alunos.php
Labels: Challenge 1, PHP, hacktoberfest-accepted

#210 [Challenge #0] Hello World
  challenges/0-hello-world/js/sbrnmorales/helloworld.js
  challenges/0-hello-world/js/sbrnmorales/model.md
Labels: Challenge 0, JS

#211 [Challgenge #0] Hello World
  challenges/0-hello-world/python/matheusphalves/helloWorld.py
  challenges/0-hello-world/python/matheusphalves/model.md
Labels: Challenge 0, Python

#98 [Challenge #3] Área do trapézio
  challenges/3-area-trapezio/php/jcesar/README.MD
  challenges/3-area-trapezio/php/jcesar/trapezio.php
Labels: Challenge 3, PHP, hacktoberfest-accepted

#212 [Challenge #2] Tabuada
  challenges/2-tabuada/js/waaz/readme.md
  challenges/2-tabuada/js/waaz/tabuada.js
Labels: Challenge 2, JS, hacktoberfest-accepted

#174 [Challenge #1] Média de Alunos
  challenges/0-hello-world/php/waaz/hello.php
  challenges/0-hello-world/php/waaz/readme.md
Labels: Challenge 1, JS

#161 [Challenge #0] Hello World
  challenges/0-hello-world/php/waaz/hello.php
  challenges/0-hello-world/php/waaz/readme.md
Labels: Challenge 0, PHP

#213 [Challenge #3] Área de um trapézio
  challenges/3-area-trapezio/js/dscamargo/README.md
  challenges/3-area-trapezio/js/dscamargo/index.js
Labels: Challenge 3, JS, hacktoberfest-accepted

#269 Finalizando o desafio 0
  challenges/0-hello-world/go/teocalvo/challenge.go
  challenges/0-hello-world/go/teocalvo/readme.md
Labels: Challenge 0, Go

#232 [Challenge #0] Hello World
  challenges/0-hello-world/js/darktechlc/README.md
  challenges/0-hello-world/js/darktechlc/hello.js
Labels: Challenge 0, JS

#308 [Challenge #0] Hello World
  challenges/0-hello-world/cpp/vitogd/README.md
  challenges/0-hello-world/cpp/vitogd/main.cpp
Labels: C++, Challenge 0, hacktoberfest-accepted

#322 [Challenge #0] Hello World
  challenges/0-hello-world/ruby/yosh1tsune/README.md
  challenges/0-hello-world/ruby/yosh1tsune/hello_world.rb
Labels: Challenge 0, Ruby

#107 [Challenge #1] Média de Alunos
  challenges/1-media-alunos/python/jayron88/media.py
  challenges/1-media-alunos/python/jayron88/readme.md
Labels: Challenge 1, Python

#135 [Challenge #1] Média de alunos
  challenges/1-media-alunos/js/afpp3/media.js
  challenges/1-media-alunos/js/afpp3/readme.md
Labels: Challenge 1, JS, hacktoberfest-accepted

#136 [Challenge #1] Média de alunos
  challenges/1-media-alunos/scala/Rastrian/Media.scala
  challenges/1-media-alunos/scala/Rastrian/README.md
Labels: Challenge 1, Scala, hacktoberfest-accepted

#163 [Challenge #0] Hello World
  challenges/0-hello-world/java/AltheusV/App.java
  challenges/0-hello-world/java/AltheusV/README.md
Labels: Challenge 0, Java, hacktoberfest-accepted

#182 Finalizando o desafio
  challenges/0-hello-world/java/guilhermeaureliano/HelloWorld.java
  challenges/0-hello-world/java/guilhermeaureliano/README.md
Labels: Challenge 0, Java

#186 [Challenge #1] Média de Alunos.
  challenges/1-media-alunos/java/godsensehl/Media.java
  challenges/1-media-alunos/java/godsensehl/readme.md
  challenges/Usuários - Atalho.lnk
Labels: Challenge 1, Java, hacktoberfest-accepted

#317 [Challenge #0] Hello World
  challenges/0-hello-world/js/xmatheus/README.md
  challenges/0-hello-world/js/xmatheus/hello-world.js
Labels: Challenge 0, JS

#193 [Challenge #1] Média dos alunos
  challenges/1-media-alunos/js/ggonpereira/challenge-01.js
  challenges/1-media-alunos/js/ggonpereira/readme.md
Labels: Challenge 1, JS, hacktoberfest-accepted

#231 [Challenges #0] Hello World
  challenges/0-hello-world/python/jbernanos/README.md
  challenges/0-hello-world/python/jbernanos/hello.py
Labels: Challenge 0, Python

#201 [Challenge #1] Média dos alunos
  challenges/1-media-alunos/python/whzd/mean.py
  challenges/1-media-alunos/python/whzd/readme.md
Labels: Challenge 1, Python, hacktoberfest-accepted

#203 [Challenge #1] Média dos alunos
  challenges/1-media-alunos/python/Apenas-Kev/Media.py
  challenges/1-media-alunos/python/Apenas-Kev/README.MD
Labels: Challenge 1, Python, hacktoberfest-accepted

#202 [Challenge #1] Média dos alunos
  challenges/1-media-alunos/java/disousadev/Media.java
  challenges/1-media-alunos/java/disousadev/readme.md
Labels: Challenge 1, Java, hacktoberfest-accepted

#208 [Challenge #1] Média de Alunos
  challenges/1-media-alunos/js/guilhermesouza/average.js
  challenges/1-media-alunos/js/guilhermesouza/readme.md
Labels: Challenge 1, JS, hacktoberfest-accepted

#335 [Challenge #0] Hello World
  challenges/0-hello-world/js/romariocoimbrac/helloworld.js
  challenges/0-hello-world/js/romariocoimbrac/readme.md
Labels: Challenge 0, JS

#217 [Challenge #0] Hello World
  challenges/0-hello-world/python/clerijr/main.py
  challenges/0-hello-world/python/clerijr/model.md
  challenges/0-hello-world/python/clerijr/readme.md
Labels: Challenge 0, Python

#282 [Challenge #0] Hello World
  challenges/0-hello-world/js/ArtToledo/README.MD
  challenges/0-hello-world/js/ArtToledo/helloWorld.js
Labels: Challenge 0, JS

#266 [Challenge #0] Hello World
  challenges/0-hello-world/js/lucasmarinzeck/index.js
  challenges/0-hello-world/js/lucasmarinzeck/readme.md
Labels: Challenge 0, JS

#323 [Challenge #0] Hello World
  challenges/0-hello-world/php/yzpeedro/challenge.php
  challenges/0-hello-world/php/yzpeedro/readme.md
Labels: Challenge 0, PHP

#348 [Challenge #1] Média de alunos
  challenges/1-media-alunos/ruby/alessandro2702/media.rb
  challenges/1-media-alunos/ruby/alessandro2702/readme.md
Labels: Challenge 1, Ruby

#349 [Challenge #3] Área de um Trapézio
  challenges/3-area-trapezio/js/romariocoimbrac/index.js
  challenges/3-area-trapezio/js/romariocoimbrac/readme.md
Labels: Challenge 3, JS, hacktoberfest-accepted

#340 [Challenge #02] Tabuada
  challenges/2-tabuada/js/romariocoimbrac/readme.md
  challenges/2-tabuada/js/romariocoimbrac/tabuada.js
Labels: Challenge 2, JS, hacktoberfest-accepted

#339 [Challenge #1] Média dos alunos
  challenges/1-media-alunos/js/arthur-mts/media.js
  challenges/1-media-alunos/js/arthur-mts/readme.md
Labels: Challenge 1, JS, hacktoberfest-accepted

#337 [Challege #01] Média dos Alunos
  challenges/1-media-alunos/js/romariocoimbrac/media.js
  challenges/1-media-alunos/js/romariocoimbrac/readme.md
Labels: Challenge 1, JS, hacktoberfest-accepted

#316 [Challenge #4] Cifra de Cesar
  challenges/4-cifra-de-cesar/js/naygo/.gitignore
  challenges/4-cifra-de-cesar/js/naygo/cifraDeCesar.js
  challenges/4-cifra-de-cesar/js/naygo/package-lock.json
  challenges/4-cifra-de-cesar/js/naygo/readme.md
Labels: Challenge 4, JS, hacktoberfest-accepted

#277 [Challenge #0] Hello World
  challenges/0-hello-world/php/luan11/HelloWorld.php
  challenges/0-hello-world/php/luan11/README.md
Labels: Challenge 0, PHP

#242 [Challenge #0] Hello World
  challenges/0-hello-world/java/mateussnts/HelloWorld.java
  challenges/0-hello-world/java/mateussnts/README.md
Labels: Challenge 0, Java

#311 [Challenge #1] Média de alunos
  challenges/1-media-alunos/js/darktechlc/README.md
  challenges/1-media-alunos/js/darktechlc/media.js
Labels: Challenge 1, JS, hacktoberfest-accepted

#305 [Challenge #2] Tabuada
  challenges/2-tabuada/js/naygo/.gitignore
  challenges/2-tabuada/js/naygo/package-lock.json
  challenges/2-tabuada/js/naygo/readme.md
  challenges/2-tabuada/js/naygo/tabuada.js
Labels: Challenge 2, JS, hacktoberfest-accepted

#292 [Challenge #2] Tabuada.
  challenges/2-tabuada/js/ArtToledo/.gitignore
  challenges/2-tabuada/js/ArtToledo/README.MD
  challenges/2-tabuada/js/ArtToledo/package-lock.json
  challenges/2-tabuada/js/ArtToledo/tabuada.js
Labels: Challenge 2, JS

#304 [Challenge #4] Cifra de Cesar
  challenges/4-cifra-de-cesar/php/immurderer/cifraCesar.php
  challenges/4-cifra-de-cesar/php/immurderer/readme.md
Labels: Challenge 4, PHP, hacktoberfest-accepted
